*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}    
    
body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:normal;
    line-height: 24px;
    background-color:#ff00ff; 
}

p{
    margin-bottom: 16px;
    text-indent: 20px;
}

div {
    background-color:#ffffff;
    border-style: double;
    border-width: 5px;
    margin-left: 20%;
    margin-right: 20%;
    
}

header a { 
    margin-right: 50px;
    color: #ff00ff
}
 


nav {
   margin-left: 150px;
            
}
 
 figure {
    float:right;
    margin-right: 400px;
    margin-top: 8px;
    width: 45px;
    } 

h2{
    position: ;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 200%;

}

footer {
    color: #ff00ff