* {
    padding:0;
    margin: 0;
    }    




body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:normal;
    line-height: 24px;
    background-color:#ff00ff; 
}

p {
    margin-bottom: 16px;
    text-indent: 20px;
}

#wrapper {
    background-color:#ffffff;
    border-style: double;
    border-width: 5px;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 960px;
    
}

header a { 
    margin-right: 50px;
    color: #ff00ff;
}

header a: link {}
header a:visited {}
header a:hover {
    color:#ffffff;
}
 
nav {
    border: 1px solid black;
    background-color: grey;
    padding-left:40px;
    max-width: 960px;
    text-align:center;
}

figure {
    float:right;
    margin-right:300px;
    margin-top: 8px;
    width: 45px;
    } 

h2 {
    position: ;
    font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
    font-size: 200%;

}

footer {
    color: #ff00ff
}
